[Desktop Entry]
Encoding=UTF-8
Name=Link to 378038117.jpg (1600×1140)
Type=Link
URL=https://www.sneakerlegends.com/images/stories/virtuemart/product/378038117.jpg
Icon=image-jpeg
